[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sqliteutils"]
	path = sqliteutils
	url = https://github.com/crotman/sqliteutils
